@import '../variables';
@import '../mixin.scss';

.home-page-content {
    @include background-gradient;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    padding: 5rem;
    color: $color-font;
    h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 0;
    }
    p {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0;
        letter-spacing: 1px;
    }
    .svg-landing {
        position: absolute;
        top:-70px;
        left: 50px;
        width: 200px;
        img {
            width: 100%;
        }
    }
}