@import '../variables';
@import '../mixin.scss';

.home-page-content {
    @include background-gradient;
    position: relative;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    padding: 5rem;
    color: $color-font;
    @include media($tablet) {
        width: 80%;
        padding: 3rem;
    }
    @include media($mobile) {
        width: 90%;
        padding: 1.5rem;
        text-align: center;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 0;
        @include media($tablet) {
            font-size: 2rem;
        }
    }
    p {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0;
        letter-spacing: 1px;
        @include media($tablet) {
            font-size: initial;
            line-height: 25px;
        }
    }
    .call-to-action {
        margin-top: 2rem;
        text-align: center;
        button {
            padding: 10px 30px;
            font-size: 1.1em;
            background-color: transparent;
            color: $color-font;
            border-radius: 5px;
            border: 2px solid $color-green;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            @include background-gradient;
            cursor: pointer;
            i {
                font-size: 15px;
                display: block;
                margin-left: 20px;
            }

            //====================
            @include media($mobile) {
                width: 180px;
                margin-bottom: 10px;
            }
        }
    }
}